%table.table.table-striped.table-sm.table-hover.table-bordered.responsive-table
  %thead
    %tr
      %th{style: 'width: 60%'} Asigantura
      %th{style: 'width: 5%'} Año
      %th{style: 'width: 5%'} Créd
      %th{style: 'width: 30%'} Sección
  %tbody
    - asignaturas.each do |asig| 
      - if @aprobadas.include? asig.id
        - aprobada = true
        - indice = @aprobadas.index asig.id
        - if (indice != nil and indice > 0)
          - inscrip = Inscripcionseccion.find @aprobadas[indice-1]
          - descrip_califi = inscrip.colocar_nota_final
      - else
        - descrip_califi = nil
        - aprobada = false

      - asigAprobada = aprobada ? 'text-muted border border-success' : ''
      %tr{class: "#{asigAprobada}"}
        %td.align-middle
          - if pcis
            = asig.descripcion_id_con_escuela
          - else
            = asig.descripcion_id
          - if aprobada
            %span.badge.badge-success= "Aprobada (#{descrip_califi})"

        %td.align-middle.text-center= asig.anno
        %td.align-middle.text-center= asig.creditos
        %td.align-middle.pl-3
          -unless aprobada
            - secciones = asig.secciones.del_periodo(@periodo.id)#.con_cupos
            - if secciones.any?
              - secciones = secciones.select{|s| s.hay_cupos?}
              - if secciones.any?
                - aux = @estudiante.secciones.where(id: s.id).first
                - value = aux ? aux.id : nil

                = collection_select("secciones", value, secciones, :id, :descripcion_con_cupos, { prompt: 'Seleccione'}, {class: "form-control selectInscripcion", style: 'width: 90%', titulo: asig.desc_confirm_inscripcion, creditos: asig.creditos, onchange: "switches('#{reservar_cupo_inscripcionsecciones_path()}?asignatura_id=#{asig.id}&seccion_id='+this.value+'&estudiante_id=#{@estudiante.id}')"})
              - else
                %b.pl-3.text-muted
                  = collection_select(nil, nil, secciones, nil, nil, { prompt: 'Sin Cupos'}, {class: "form-control selectInscripcion", style: 'width: 90%', disabled: true, readonly: true})

            - else
              %b.pl-3.text-muted
                = collection_select(nil, nil, secciones, nil, nil, { prompt: 'Sin Secciones'}, {class: "form-control selectInscripcion", style: 'width: 90%', disabled: true, readonly: true})
