-# Este botón puede eliminarse si decidimos desplegar la modal al inicio
= link_to 'javascript:void(0)', onclick: "$('##{id_modal}').modal();", class: 'btn btn-block btn-lg btn-success tooltip-btn mb-2' do
  = glyph 'education'
  = "#{title_btn} en #{@escuela.descripcion_filtro} el periodo #{current_periodo.id}"

.modal.fade{'aria-hidden': true, role: :dialog, id: id_modal}
  .modal-dialog.modal-lg
    .modal-content
      .alert.alert-info
        %button.close{"aria-label": "Cerrar", "data-dismiss": :modal, type: :button}
          %span{"aria-hidden": true} ×
        .text-center{id: "#{id_modal}Title"}
          %h4= title
          %h5= "Escuela de #{@escuela.descripcion_filtro}"
          %h5= "Período Académico #{current_periodo.id}"
      .alert.alert-warning
        %h4.text-center= msgDanger.html_safe
      .modal-body.border.p-2
        = form_tag(url, id: "#{id_modal}Form", class: 'form-horizontal') do
          = hidden_field_tag 'estudiante_id', @estudiante.id
          =# hidden_field_tag 'periodo_id', inscripciones.first.periodo.id
          %table.table.table-striped.table-sm.table-hover.table-bordered.responsive-table
            %thead
              %tr
                %th{style: 'width: 70%'} Asigantura
                %th{style: 'width: 10%'} Año
                %th{style: 'width: 10%'} Créditos
                %th{style: 'width: 10%'} Seleccionar
            %tbody
              - asignaturas_ofertadas.each_with_index do |asig, i| 
                - disabled = aprobadas_id.include? asig.id
                - asigAprobada = disabled ? 'table-dark' : ''
                %tr{class: asigAprobada}
                  %td= asig.descripcion_id
                  %td.text-center= asig.anno
                  %td.text-center= asig.creditos
                  %td.text-center= check_box_tag "seleccion[#{i}]", asig.id, nil, class: 'checkboxInscripcion', titulo: "- #{asig.descripcion} - #{asig.creditos}"
          
          .modal-footer
            %a.btn.btn-sm.btn-outline-light{data: {dismiss: 'modal'}} Cancelar
            = submit_tag title_btn, class: 'btn btn-outline-success btn-sm', id: 'submitBtn', 'data-disable-with': 'Enviando'

:javascript
  
  $('input.checkboxInscripcion').on('click', function(){
    let ele = $(this);
    let trParent = ele.closest('tr');
    if (ele.prop('checked'))
      trParent.addClass('table-info')
    else{
      trParent.removeClass('table-info')
    }
  })

  $('#submitBtn').on('click', function(event){
    let selected = '\n';
    let checkeds = $("input.checkboxInscripcion[type=checkbox]:checked");
    let msg;
    if (checkeds.length > 0) {
      checkeds.each(function(){
        selected += '\n';
        selected += $(this).attr('titulo');
      });    
      msg = `Asignaturas a preinscribir en el período académico #{current_periodo.id} de la Escuela de #{@escuela.descripcion_filtro}:`;
      msg += selected;
      msg += '\n';
    }
    msg += '\n';
    msg += "Recuerde que su elección es definitiva y no podrá ser cambiada. ¿Está seguro?" 
    if (window.confirm(msg) == false) {
      event.preventDefault();
    }
  })

