= hidden_field_tag 'total_creditos', @totalCreditosReservados
= hidden_field_tag 'total_asignaturas', @totalAsignaturasReservadas
- tableColor = (@totalCreditosReservados > @limiteCreditos or @totalAsignaturasReservadas > @limiteAsignaturas) ? 'table-danger' : 'table-success'

%table.table.table-sm.responsive-table
  %tbody
    %tr{class: tableColor}
      %td{style: 'width: 66%;text-align:right;'} Total Créditos Seleccionados:
      %td
        %b.text-right#totalCreditosNumero= @totalCreditosReservados
        = "de #{@limiteCreditos} permitidos."
    %tr{class: tableColor}
      %td{style: 'width: 66%;text-align:right;'} Total Asignaturas Seleccionadas:
      %td
        %b.text-right#totalAsignaturasNumero= @totalAsignaturasReservadas
        = "de #{@limiteAsignaturas} permitidas."