.border.p-3
  - # Imágenes de perfil y CI:
  = render partial: '/admin/usuarios/form_imagenes'

  = form_for @usuario, html: { class: 'form-horizontal' } do |f|

    %h6.titulo Datos Personales:

    - # Cedula de Identidad:
    .form-group.row
      .col-md-3.text-right= f.label :ci, class: 'col-form-label', value: 'Cédula de Identidad:'
      .col-md-9= text_field_tag nil, @usuario.ci, disabled: true, readonly: true, class: 'form-control'


    - if current_admin
      - # Nacionalidad: 
      .form-group.row
        .col-md-3.text-right= f.label 'nacionalidad', class: 'col-form-label', value: 'Nacionalidad:'
        .col-md-9
          - Usuario.nacionalidades.map do |k,v| 
            %label.btn.btn-secondary.btn-sm
              = radio_button_tag '[usuario]nacionalidad', k, (@usuario.nacionalidad.eql? k), required: true, class: 'required'
              = k.upcase

    - # Sexo:
    .form-group.row
      .col-md-3.text-right= f.label :sexo, class: 'col-form-label', value: 'Sexo:'
      .col-md-9
        - Usuario.sexos.map do |k,v| 
          %label.btn.btn-secondary.btn-sm.tooltip-btn{'data_toggle': :tooltip, title: k.titleize}
            = radio_button_tag '[usuario]sexo', k, (@usuario.sexo.eql? k), required: true, class: 'required'
            = k[0].upcase

    - # Nombres:
    .form-group.row
      .col-md-3.text-right= f.label :nombres, class: 'col-form-label', value: 'Nombres:'
      .col-md-9
        - if current_admin
          = f.text_field :nombres, class: 'form-control upcase required', required: true
        - else
          = text_field_tag nil, @usuario.nombres,  disabled: true, readonly: true, class: 'form-control'

    - # Apellidos:
    .form-group.row
      .col-md-3.text-right= f.label :apellidos, class: 'col-form-label', value: 'Apellidos:'
      .col-md-9
        - if current_admin
          = f.text_field :apellidos, class: 'required form-control upcase required', required: true
        - else
          = text_field_tag nil, @usuario.apellidos,  disabled: true, readonly: true, class: 'form-control'

    - # Correo:
    .form-group.row
      .col-md-3.text-right= f.label :email, class: 'col-form-label', value: 'Correo Electrónico:'
      .col-md-9
        = f.email_field :email, class: 'form-control required', required: true
        .text-warning.mt-2
          %b Atención: 
          = "Recuerde que el correo electrónico es el medio principal de comunicación para COESFHE, complételo de manera correcta.".html_safe

    - # Contraseña:
    - if current_admin.nil? and @usuario.ci.eql? @usuario.password
      .alert.alert-warning
        .form-group.row
          .col-md-3.text-right= f.label :password, class: 'col-form-label ', value: 'Contraseña:'
          .col-md-9
            %b Atención:
            Cambie su contraseña a un valor distinto a la cédula de identidad
            = f.password_field :password, required: true, class: 'text-field form-control required'
            
        .form-group.row
          .col-md-3.text-right= f.label :password_confirmation, class: 'col-form-label', value: 'Confirme Contraseña:'
          .col-md-9
            = f.password_field :password_confirmation, required: true, class: 'text-field form-control required'

    - # Teléfono Habitación:
    .form-group.row
      = f.label :telefono_habitacion, class: 'col-form-label col-md-3 text-right', value: 'Teléfono de Habitación:'
      .col-md-9
        = f.phone_field :telefono_habitacion, class: ' form-control'

    - required = current_admin.nil? ? 'required' : ''
    - # Teléfono Móvil:
    .form-group.row
      = f.label :telefono_movil, class: 'col-form-label col-md-3 text-right', value: 'Teléfono Móvil:'
      .col-md-9
        = f.phone_field :telefono_movil, class: " form-control #{required}" , required: current_admin.nil?

    - if @usuario and @usuario.estudiante
      - # Estado Civil:
      .form-group.row
        .col-md-3.text-right= f.label 'estado_civil', class: 'col-form-label', value: 'Estado Civil:'
        .col-md-9
          - Usuario.estado_civiles.map do |k,v| 
            %label.btn.btn-secondary.btn-sm.tooltip-btn{'data_toggle': :tooltip, title: k}
              = radio_button_tag '[usuario]estado_civil', k, (@usuario.estado_civil.eql? k), required: current_admin.nil?, class: required
              = k[0..4].upcase

      = render partial: '/admin/estudiantes/form_datos_origen', locals: {f: f, requerido: current_admin.nil?}
      = render partial: '/admin/estudiantes/form_direccion', locals: {requerido: current_admin.nil?}
      = render '/admin/estudiantes/form_discapacidad'
      = render '/admin/estudiantes/form_otros_titulos'

    .form-group.row
      .col-md-offset-3.col-md-9
        = f.submit nil, class: 'btn btn-primary'

:javascript

  $('.upcase').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().toUpperCase());
  });


  $('.ci').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().replace(/[^0-9]/g,'') );
    });


  function sendData(url, children, data){
    $.ajax({
      url: url,
      dataType: 'json', 
      type: 'GET',
      data: data,
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
        $('#cargando a').html(`Cargando... `);
        $('#cargando').show();
      },
      success: function (data) {
        let selectorAux = $('#'+children);
        selectorAux.empty();
        selectorAux.append($("<option></option>").attr("value",'').text('--- Seleccione ---'));

        for (let e of data){
          $('#'+children)
            .append($("<option></option>")
              .attr("value",e)
              .text(e));
        }
      },
      complete: function(){
        $('#cargando').hide();
      }
    });
  };

  $(document).ready(function() {

    $('.dynamic').on('change', function(e){
      let children = $(this).attr('children');
      let url = $(this).attr('url');

      sendData(url, children, {term: $(this).val()})

    });

    $('#selectMunicipio').on('change', function(e){
      let estado = $('#selectEstado').val();
      sendData(`#{getParroquias_usuarios_path}`, 'selectParroquia', {term: $(this).val(), estado: estado})

    })
    
  });


