
%table.mb-3.flex-column
	%tr
		- if @estudiante and (current_admin and current_admin.autorizado? 'Inscripcionsecciones', 'inscribir') #or @grado.escuela.periodo_inscripcion.eql? current_periodo #and @estudiante.valido_para_inscribir? current_periodo.id
			%td
				- if @inscripcionperiodo and @inscripcionperiodo.preinscrito?
					
					= link_to "#{seleccionar_inscripcionseccion_path(@estudiante)}?escuela_id=#{@escuela.id}", class: "btn btn-sm btn-warning tooltip-btn", 'data_toggle': :tooltip,  title: 'Confirmar Inscripción del período Actual' do
						= glyph 'education'
						¡Confirmar Inscripción!
				- else
					- boton_nombre = (current_admin and @inscripcionperiodo and @inscripcionperiodo.inscrito?) ? 'Modificar Inscripción' : 'Inscribir'
					= btn_inscribir "#{seleccionar_inscripcionseccion_path(@estudiante)}?escuela_id=#{@escuela.id}", "Inscripción en el periodo actual", boton_nombre

		- if !(@grado.escuela_id.eql? 'POST') and @grado.reportepago and @grado.preinscrito? and !@grado.inscripciones.any?
			%td= btn_success 'download-alt', "#{constancia_preinscripcion_facultad_descargar_path(@grado.id.join("-"), :pdf)}", "Descargar Constancia de Preinscripción por Facultad", 'Constancia de Preinscripción'
		- if @grado.inscripciones.any?
			%td= btn_success 'download-alt', "#{kardex_descargar_path(@grado.id.join("-"))}", "Descargar Kardex de #{@nickname}", 'Kardex'
			%td= btn_success 'download-alt', exportar_historial_grado_descargar_path(@grado.id.join('-')), "Descargar registro academico en scv (Excel)", 'Record Académico en Excel'

		- if @inscripcionperiodo and @inscripcionperiodo.inscrito?
			%td= btn_success 'download-alt', "#{constancia_inscripcion_descargar_path(@inscripcionperiodo.id, :pdf)}", "Constancia de Inscripción de #{@nickname}", 'Constancia Inscripción'
			- if false 
				%td= btn_success 'download-alt', "#{constancia_estudio_descargar_path(@inscripcionperiodo.id, :pdf)}", "Constancia de Estudio de #{@nickname}", 'Constancia Estudio'

		- if false
			%td= btn_success 'download-alt', "#{constancia_preinscripcion_descargar_path(@estudiante.id)}?escuela_id=#{@escuela.id}", "Constancia de Preinscripción de #{@nickname}", 'Constancia Preinscripción'
		- if false #current_admin
			%td= btn_toggle_modal 'plus', "Inscribir a #{@nickname} en una sección de esta escuela en periodo #{current_periodo.id}", "Inscribir en seccion del #{current_periodo.id}", "estudiante_seccion_#{@escuela.id}"
			= render partial: '/admin/inscripcionsecciones/form'

	