
%table.mb-3.flex-column
	%tr
		- if @estudiante and (current_admin and current_admin.autorizado? 'Inscripcionsecciones', 'inscribir') #and @estudiante.valido_para_inscribir? current_periodo.id
			%td
				-if @inscripcionperiodo and @inscripcionperiodo.preinscrito?
					= link_to "#{seleccionar_inscripcionseccion_path(@estudiante)}?escuela_id=#{@escuela.id}", class: "btn btn-sm btn-warning tooltip-btn", 'data_toggle': :tooltip,  title: 'Confirmar Inscripción del período Actual' do
						= glyph 'education'
						¡Confirmar Inscripción!
				- else

					= btn_inscribir "#{seleccionar_inscripcionseccion_path(@estudiante)}?escuela_id=#{@escuela.id}", 'Inscripción en el periodo actual', 'Inscribir'

		- if @inscripcionperiodo 
			%td
				=# SUSTITUIR POR ESTUDIANTE_ID, ESCUELA_ID POR GRADO!
				=# btn_success 'download-alt', "#{kardex_descargar_path(@grado.id)}", "Descargar Kardex de #{@nickname}", 'Kardex'
				= btn_success 'download-alt', "#{kardex_descargar_path(@estudiante.id)}?escuela_id=#{@escuela.id}", "Descargar Kardex de #{@nickname}", 'Kardex'
			- if @inscripcionperiodo.inscrito?
				%td= btn_success 'download-alt', "#{constancia_inscripcion_descargar_path(@inscripcionperiodo.id, :pdf)}", "Constancia de Inscripción de #{@nickname}", 'Constancia Inscripción'

				%td= btn_success 'download-alt', "#{constancia_estudio_descargar_path(@inscripcionperiodo.id, :pdf)}", "Constancia de Estudio de #{@nickname}", 'Constancia Estudio'
		- else
			- if false
				%td= btn_success 'download-alt', "#{constancia_preinscripcion_descargar_path(@estudiante.id)}?escuela_id=#{@escuela.id}", "Constancia de Preinscripción de #{@nickname}", 'Constancia Preinscripción'
		- if false #current_admin
			%td= btn_toggle_modal 'plus', "Inscribir a #{@nickname} en una sección de esta escuela en periodo #{current_periodo.id}", "Inscribir en seccion del #{current_periodo.id}", "estudiante_seccion_#{@escuela.id}"
			= render partial: '/admin/inscripcionsecciones/form'

	