- pre = ins.preinscritos.count

= link_to_if((current_admin and current_admin.autorizado?('Inscripcionescuelaperiodos', 'index')), pre, "#{inscripcionescuelaperiodos_path}?escuelaperiodo_id=#{escupe.id}&status=#{TipoEstadoInscripcion::PREINSCRITO}", class: 'tooltip-btn', 'data-toggle': :tooltip, title: "Total preinscritos #{current_periodo.id}", 'data-placement': :right)

= "/"
- rat = ins.inscritos.count 
= link_to_if((current_admin and current_admin.autorizado?('Inscripcionescuelaperiodos', 'index')), rat, "#{inscripcionescuelaperiodos_path}?escuelaperiodo_id=#{escupe.id}&status=#{TipoEstadoInscripcion::INSCRITO}", class: 'tooltip-btn', 'data-toggle': :tooltip, title: "Total inscritos #{current_periodo.id}", 'data-placement': :right )

= "/"
- rep = ins.con_reportepago.count 
= link_to_if((current_admin and current_admin.autorizado?('Inscripcionescuelaperiodos', 'index')), rep, "#{inscripcionescuelaperiodos_path}?escuelaperiodo_id=#{escupe.id}&status=reported", class: 'tooltip-btn', 'data-toggle': :tooltip, title: "Total con reporte de pago #{current_periodo.id}", 'data-placement': :right )