- if dependientes.any?
  - dependientes.each do |dep| 
    - aprobada = (@aprobadas_ids and @aprobadas_ids.include? dep.asignatura_id) ? 'table-success' : ''
    %tr{class: aprobada}
      %td.pr-5
        - unless aprobada.eql? ''
          %span.badge.badge-success Aprobada
        - if (current_admin and current_admin.autorizado? 'Dependencias', 'destroy')
          = link_to dependencia_path(dep.id), method: :delete, class: 'text-danger tooltip-btn', data: {toggle: :tooltip}, title: 'Eliminar Relación de Dependencia', data: {confirm: 'Al eliminar una dependencia se eliminarán en cascadas todas sus dependencias ¿Está completamente seguro?'} do
            = glyph :trash

        = link_to dep.asignatura_dependiente.descripcion_id, "#{asignatura_path(dep.asignatura_dependiente_id)}?dependencias=true"

        - if dep.asignatura_dependiente.dependencias.any?
          = link_to 'javascript:void(0)', onclick: "$('#arbol#{dep.id}').toggleClass('d-none'); $(this).toggleClass('gly-rotate-90');" do
            = glyph 'chevron-right'
          %div{id: "arbol#{dep.id}", class: 'd-none'}
            %table.table-striped.table-hover.table-bordered.ml-5.m-3
              %tbody
                = render partial: '/admin/dependencias/tabla_dependencias', locals: {dependientes: dep.asignatura_dependiente.dependencias}
    
