.float-right
  =# simple_icon_toggle_modal 'Agregar Asignaturas dependientes', 'success', 'plus'
  = btn_toggle_modal :plus, 'Agregar Asignaturas dependientes', 'Agregar', 'agregarDependencias'
- if @dependientes.any?

  %h4.titulo.mt-3 Asignaturas Dependientes
  %table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md
    %tbody
      - @dependientes.each do |dep| 
        %tr
          %td= dep.asignatura_dependiente_id
          %td= dep.asignatura_dependiente.descripcion
          %td
            = link_to dependencia_path(dep.id), method: :delete, class: 'btn btn-sm btn-danger tooltip-btn', data: {toggle: :tooltip}, title: 'Eliminar Relación de Dependencia' do
              = glyph :trash

- else
  %p.m-3.alert.alert-warning Sin asignaturas dependientes


- @dependencia = Dependencia.new
- @dependencia.asignatura = @asignatura

- content = render partial: '/admin/dependencias/form'
- title = 'Agregar Asignaturas Dependientes'
= render partial: '/layouts/modal_layout_with_form', locals: {id_modal: "agregarDependencias", title: title, content: content, width: nil}