- if (current_admin and current_admin.autorizado? 'Dependencias', 'create')
  .float-right
    .m-1
      = btn_toggle_modal :plus, 'Agregar Asignaturas dependientes', 'Agregar', 'agregarDependencias'

  %h6.titulo.text-center.m-2= "Arbol de dependencia #{@asignatura.descripcion}"
  .m-3
    - if @dependencia_hacia_atras.any?
      %table.table-striped.table-sm.table-hover.table-bordered{style: 'width: 50%;'}
        %tbody
          = render partial: '/admin/dependencias/tabla_depen_hacia_atras', locals: {dependientes: @dependencia_hacia_atras}
    %table.table-striped.table-sm.table-hover.table-bordered{style: 'width: 50%;'}
      %tbody
        %tr.table-success
          %td= @asignatura.descripcion_id
    - if @dependientes.any?
      = render partial: '/admin/dependencias/tabla_dependencias', locals: {dependientes: @dependientes}

- else
  .row
    .m-3.alert.alert-warning.col-11 Sin asignaturas dependientes

- if (current_admin and current_admin.autorizado? 'Dependencias', 'create')
  - @dependencia = Dependencia.new
  - @dependencia.asignatura = @asignatura

  - content = render partial: '/admin/dependencias/form'
  - title = 'Agregar Asignaturas Dependientes'
  = render partial: '/layouts/modal_layout_with_form', locals: {id_modal: "agregarDependencias", title: title, content: content, width: nil}