= link_to new_escuela_path, class: 'btn btn-outline-success btn-sm tooltip-btn', 'data-toggle': :tooltip, title: 'Agregar Nueva Escuela' do
  = glyph 'plus'
  Agregar

%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
  %thead
    %tr.text-center
      %th
      %th Entidad o Escuela
      - if false #Falta revisar la cuenta de secciones
        %th.tooltip-btn{'data_toggle': :tooltip, title: "Total Secciones Periodo #{current_periodo.id}"} Sec
      %th.tooltip-btn{'data_toggle': :tooltip, title: "Total Inscritos Periodo #{current_periodo.id}"} Inscritos
      - if current_admin.maestros?
        %th{style: 'width:190px'} Activo
        %th{style: 'width:190px'} Inscripción
        %th Prelaciones
        %th Retiros
        %th Cambio Secciones
        %th= "Actas del #{current_periodo.id}"
        %th= "Asignados #{current_periodo.id}"
  %tbody
    - @escuelas.each do |escuela|
      %tr
        %td.align-middle
          - if current_admin
            - if (current_admin.autorizado? 'Escuelas', 'update')
              = link_to edit_escuela_path(escuela), class: 'btn btn-sm float-right', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
                = glyph 'pencil'
            - if (current_admin.autorizado? 'Escuelas', 'destroy')
              - if !(escuela.inscripciones.any?)
                = link_to escuela_path(escuela), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-sm float-right', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
                  .text-danger= glyph 'trash'
              - else
                .btn.btn-sm.float-right.text-muted.tooltip-btn{'data-toggle': :tooltip, title: 'Elimine todos los registros de inscripciones para activar la opción', 'data-placement': :left}= glyph 'trash'
        %td.align-middle
          = link_to_if current_admin, escuela.descripcion, escuela_path(escuela), class: 'badge badge-primary' 
        - if false #Falta revisar la cuenta de secciones
          %td.align-middle.text-right=# ins.secciones_creadas.count#escuela.secciones.del_periodo(current_periodo.id).count
        %td.align-middle.text-right
          = render partial: '/admin/escuelaperiodos/pre_vs_ins', locals: {escuela: escuela, periodo: current_periodo}

          - if current_admin.maestros?
            %td
              = form_tag(escuela, class: "form-inline", method: :put) do 
                = select_tag "escuela[periodo_activo_id]", options_from_collection_for_select(escuela.periodos.order(inicia: :desc), :id, :id, escuela.periodo_activo_id), class: 'form-control select-mini', required: true, prompt: '-- Sel Periodo --'
                = submit_tag 'Guardar', class: 'ml-2 btn btn-sm btn-success btn-mini', data: {confirm: 'Se establecerá el Periodo Activo de la escuela'}

            %td
              = form_tag(set_periodo_inscripcion_escuela_path(escuela.id), class: "form-inline") do 
                = select_tag :periodo_inscripcion_id, options_from_collection_for_select(escuela.periodos.order(inicia: :desc), :id, :id, escuela.periodo_inscripcion_id), class: 'form-control select-mini', include_blank: '---INSCRIPCIÓN CERRADA ---', style: 'width: 120px;'
                = submit_tag 'Guardar', class: 'ml-2 btn btn-sm btn-success btn-mini', data: {confirm: 'Esta acción establecerá las inscripciones para los ESTUDIANTES en el periodo seleccionado, ¿Está seguro?. Para cerrar la inscripción seleccione la opción "--- Inscripción Cerrada ---"'}

            %td= agregar_onoffswitch 'Habilitar Uso de Prelaciones en inscripción', "prelaciones#{escuela.id}",update_dependencias_escuela_path(escuela.id), escuela.dependencias_habilitadas?

            %td= agregar_onoffswitch 'Habilitar Retiro y Eliminación Asignaturas', "retiro#{escuela.id}", set_habilitar_retiro_asignaturas_escuela_path(escuela.id), escuela.retiro_asignaturas_habilitado?

            %td= agregar_onoffswitch 'Habilitar Cambio de Sección', "cambioSeccion#{escuela.id}", set_habilitar_cambio_seccion_escuela_path(escuela.id), escuela.cambio_seccion_habilitado?

            - ep = escuela.escuelaperiodos.where(periodo_id: current_periodo.id).first
            %td.align-middle.text-center
              - if ep
                = btn_toggle_download 'btn-success btn-mini', "descargar/#{ep.id}/actas_secciones_escuelaperiodo", "Todas las Actas de #{escuela.descripcion} (#{ep.total_secciones})", "Acta #{ep.escuela.id}"
            %td.align-middle.text-center
              - if ep
                -# total_asignados = ep.escuela.grados.preinscrito.sin_inscripciones.where(iniciado_periodo_id: ep.periodo_id).count
                
                -# total_asignados = ep.escuela.grados.preinscrito.joins(estudiante: :usuario).where('usuarios.password = usuarios.ci').where(iniciado_periodo_id: ep.periodo_id).count
                
                -# total_asignados = ep.escuela.grados.preinscrito.sin_inscripciones.where(iniciado_periodo_id: ep.periodo_id).reject{|g| g.estudiante.usuario.bitacoras.where("descripcion LIKE '%Inicio de sessión%'").any?}.count

                -# total_asignados = ep.escuela.grados.preinscrito.where(iniciado_periodo_id: ep.periodo_id).reject{|g| g.estudiante.usuario.bitacoras.where(tipo: :actualizacion).any?}.count
                
                -# total_asignados = ep.escuela.grados.preinscrito.where(iniciado_periodo_id: ep.periodo_id).count

                -# total_asignados = ep.escuela.grados.asignado.sin_inscripciones.where(iniciado_periodo_id: ep.periodo_id).reject{|g| (g.estudiante.usuario.foto_perfil and g.estudiante.usuario.foto_perfil.attached?) or g.estudiante.usuario.imagen_ci and g.estudiante.usuario.imagen_ci.attached?}.count
                
                - total_asignados = ep.escuela.grados.asignado.sin_inscripciones.where(iniciado_periodo_id: ep.periodo_id).count

                .tooltip-btn{'data-toggle': :tooltip, title: "#{total_asignados} estudiant(es) asignado(s) sin inscripciones"}
                  - if (total_asignados < 1)
                    .btn.btn-sm.float-right.text-muted= glyph :trash
                  - else
                    = link_to borrar_ausentes_escuelaperiodo_path(ep), class: "tooltip-btn float-right", 'data_toggle': :tooltip,  title: "Eliminar estudiantes asignados sin inscripciones (#{total_asignados})", 'data-confirm': "Esta acción es irreversible y eliminará #{total_asignados} registros de estudiantes del sistema. ¿Está completamente seguro?" do
                      .text-danger= glyph :trash
