
- if current_admin.maestros?
  = link_to 'Registrar Nuevo Administrador', "#{new_usuario_path}?administrador=true", class: 'btn btn-primary btn-sm float-right'


%table.dataTable.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
  %thead
    %tr
      %th CI
      %th Apellidos y Nombres
      %th Rol
      %th Perfil


  %tbody
    - @administradores.each do |admin| 
      %tr
        %td= link_to admin.usuario_id, usuario_path(admin.usuario_id)
        %td= admin.usuario.apellido_nombre
        %td= admin.desc_rol
        %td= admin.perfil.nombre if admin.perfil

