.p-5
  = form_for @asignatura, html: { class: 'form-horizontal' } do |f|
    .row.form-group
      .col-md-2= f.label :id_uxxi, class: 'control-label', value: 'Código Uxxi'
      .col-md-10
        = f.text_field :id_uxxi, class: 'form-control upcase', autofocus: true, placeholder: "0705115338", size: 10, required: true, maxlength: 12
        .text-muted.font-italic Máximo 12 catacteres alfanuméricos (Caracteres Especiales No permitidos)
    .row.form-group
      .col-md-2= f.label :descripcion, class: 'control-label', value: 'Nombre'
      .col-md-10
        = f.text_field :descripcion, class: 'form-control', placeholder: 'Nombre de la asignatua', required: true
    .row.form-group
      .col-md-2= f.label :departamento_id, class: 'control-label'
      .col-md-10
        = collection_select(:asignatura, :departamento_id, @escuela.departamentos, :id, :descripcion, {prompt: "-- Seleccione Departamento --"}, {required: true, class: 'selects2 form-control', onchange: 'set_catedra()'})
    .row.form-group
      .col-md-2= f.label :catedra_id, class: 'control-label'
      .col-md-10
        - hidden = @asignatura.new_record? ? 'hideble' : ''
        = grouped_collection_select :asignatura, :catedra_id, @departamentos, :catedras, :descripcion, :id, :descripcion, {prompt: "Selecciona Cátedra...", value: @asignatura.catedra_id}, { class: "form-control #{hidden}"}

    .row.form-group
      = f.label :tipo, class: 'control-label col-md-2', value: 'Tipo de asignatura'
      .col-md-10
        - Tipoasignatura.order("created_at DESC").all.each do |asignatura| 
          %label.btn.btn-secondary.btn-sm.tooltip-btn{'data_toggle': :tooltip, title: asignatura.descripcion.titleize}
            = radio_button_tag '[asignatura]tipoasignatura_id', asignatura.id, (asignatura.id.eql? @asignatura.tipoasignatura_id), required: true
            = asignatura.id

    .row.form-group
      = f.label :tipo, class: 'control-label col-md-2', value: 'Tipo de calificación'
      .col-md-10
        - Asignatura.calificaciones.map do |k,v| 
          %label.btn.btn-secondary.btn-sm.tooltip-btn{'data_toggle': :tooltip, title: k.titleize}
            = radio_button_tag '[asignatura]calificacion', k, (k.eql? @asignatura.calificacion), required: true
            = k.upcase
        %label.btn.btn-sm.btn-success.tooltip-btn{'data_toggle': :tooltip, title: 'Aún cuando sea una asignatura numerica, su valor en los documentos aparecerá como absoluta'}
          = f.check_box :forzar_absoluta
          ¿Forzar a Absoluta?
            
    .row.form-group
      .col-md-2= f.label :creditos, class: 'control-label', value: 'Créditos'
      .col-md-4= f.number_field :creditos, class: 'form-control', in: 0...21, step: 1, required: true
      .col-md-2= f.label :anno, class: 'control-label col-md-2', value: 'Orden'
      .col-md-4= f.number_field :anno, class: 'form-control', in: 0...11, step: 1, required: true

    .form-group
      .col-md-offset-2.col-md-10
        = f.submit nil, class: 'btn btn-outline-primary'
        = link_to t('.cancel', default: t("helpers.links.cancel")), :back, class: 'btn btn-outline-secondary'


:javascript
  $(document).ready(function() {

    $( ".selects2" ).select2();
    
  });


  function set_catedra(){

    $("#asignatura_catedra_id optgroup").hide();
    var dep = $("#asignatura_departamento_id option:selected").text();

    $("#asignatura_catedra_id optgroup[label='" + dep + "']").show();
    $("#asignatura_catedra_id").val('');
    $("#asignatura_catedra_id").show();
  }

  $('.upcase').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().toUpperCase());
    node.val(node.val().replace(/[^A-Z0-9]/g,'') );
    });