=# render partial: '/admin/usuarios/datos_modal'

%nav
	.nav.nav-tabs
		= link_to "General", "#general", "data-toggle": :tab, class: 'nav-item nav-link'
		- @estudiante.escuelas.each_with_index do |escuela,i|
			- active = (i.eql? 0) ? 'active' : ''
			= link_to "#{escuela.descripcion.titleize}", "#pane_#{escuela.id}", "data-toggle": :tab, class: "nav-item nav-link #{active}"
		= link_to "Horario (#{current_periodo.id})", "#actualPeriodo", "data-toggle": :tab, class: 'nav-item nav-link'

.tab-content
	- @estudiante.escuelas.each_with_index do |escuela,i| 
		- active = (i.eql? 0) ? 'active show' : ''
		- grado = @estudiante.grados.where(escuela_id: escuela.id).first
		- @escuela = escuela

		- if current_usuario.eql? @estudiante.usuario and grado and (!escuela.id.eql? 'POST') and grado.reportepago.nil? and grado.preinscrito? and !grado.inscripciones.any? 
			- @grado_id = grado.id
			- @reportepago = Reportepago.new
			- content = render partial: "/admin/reportepagos/form"
			= render partial: '/layouts/modal_layout_with_form', locals: {id_modal: "reportarPagoGrado#{grado.id_flat}", content: content, title: 'Reportar Pago a la Facultad de Ingreso a Escuela', width: "modal-lg"}
			= link_to 'javascript:void(0)', onclick: "$('#reportarPagoGrado#{grado.id_flat}').modal()", class: 'm-3 btn btn-success' do
				= glyph 'plus'
				Repotar Pago Ingreso Escuela


		.tab-pane.border.border-top-0.p-3{id: "pane_#{escuela.id}", class: active}
			- # VARIABLES:
			- @inscripciones = @estudiante.inscripcionsecciones.joins(:escuela).where("escuelas.id = :e or pci_escuela_id = :e", e: @escuela.id)
			
			- periodo_ids = @inscripciones.joins(:seccion).group("secciones.periodo_id").count.keys
			- @periodos = Periodo.where(id: periodo_ids).order(inicia: :desc)
			
			- if escuela.periodo_inscripcion
				- periodo_id = escuela.periodo_inscripcion_id
				- escupe = escuela.escuelaperiodos.where(periodo_id: periodo_id).first
				- @inscripcionperiodo = @estudiante.inscripcionescuelaperiodos.where(escuelaperiodo_id: escupe.id).first
				- unless @inscripcionperiodo
					- if false #escuela.id.eql? 'IDIO' and periodo_id.eql? '2019-02A'
						-# inscripciones_del_periodo = @inscripciones.del_periodo(current_periodo.id)#.inscritos
						- inscripciones_del_periodo = @inscripciones.del_periodo(periodo_id).preinscritos
						- if inscripciones_del_periodo.any?
							- titulo_modal = "Proceso de Confirmación de Inscripción"
							- titulo_btn = "Ratificar Inscripción"
							- msgDanger = "<b>Atención: </b> Marque las asignaturas que desea ratificar"
							- url = '/inscripcionsecciones/confirmar_inscripcion'
							- idModal = "ratificarInscripcion#{escuela.id}"
							= render partial: 'admin/inscripcionsecciones/confirmar_inscripcion_form', locals: {inscripciones: inscripciones_del_periodo, url: url, id_modal: idModal, title: titulo_modal, msgDanger: msgDanger, title_btn: titulo_btn}

					- else
						- asignaturas_ofertadas = escuela.asignaturas.activas(periodo_id).order(anno: :desc )
						-# aprobadas_id = @inscripciones.aprobadas.joins(:seccion).group('secciones.asignatura_id').count.keys
						- aprobadas = @inscripciones.aprobadas.joins(:seccion).map{|s| [s.id, s.seccion.asignatura_id]}.uniq.flatten
						-# inscripciones = @inscripciones.del_periodo(current_periodo.id)
						- titulo_modal = "Proceso de Preinscripción #{periodo_id}"
						- titulo_btn = "Preinscribirse"
						- msgDanger = "<b>Atención: </b> Marque las asignaturas que desea preinscribir"
						- url = '/inscripcionsecciones/preinscribirse'
						- idModal = "preinscripcion#{escuela.id}"
						= render partial: 'admin/inscripcionsecciones/seleccionar_preinscripcion_form', locals: {asignaturas_ofertadas: asignaturas_ofertadas, url: url, id_modal: idModal, title: titulo_modal, msgDanger: msgDanger, title_btn: titulo_btn, aprobadas: aprobadas, periodo_id: periodo_id}
				- else
					- if @inscripcionperiodo.reportepago.nil?
						.alert.alert-warning
							%h6
								%b Atención: 
								Aún no reporta el pago de su inscripción. Recuerde que es un paso indispensable para completar su preinscripción. Haga clic 
								= link_to 'aquí', new_reportepago_path(inscripcionescuelaperiodo_id: @inscripcionperiodo.id)
								para reportar el pago
						= link_to new_reportepago_path(inscripcionescuelaperiodo_id: @inscripcionperiodo.id), class: 'btn btn-block btn-lg btn-success tooltip-btn mb-2' do
							= glyph 'chevron-right'
							= "Reportar pago de inscripción el periodo #{current_periodo.id}"



			-if @estudiante.citahoraria
				.border.p-md-3
					%h5 Cita Horaria:
					%p
						%b Fecha:
						=#(I18n.localize(Time.now, :format => "%A, %d de %B de %Y - Hora: %I:%M "))#.capitalize()
						=(I18n.localize(@estudiante.citahoraria.fecha, :format => "%A, %d de %B de %Y")).capitalize()
						= "-"
						%b Hora:
						=(I18n.localize(@estudiante.citahoraria.fecha, :format => "%I:%M %p")).capitalize()
						=# @estudiante.cita_horaria.hora

			- if @estudiante.planes.count > 0
				.border.p-md-3
					%h5 Planes:
					- @estudiante.historialplanes.por_escuela(escuela.id).order('periodo_id DESC').each do |pl| 
						%p= pl.descripcion
			- if @escuela.id.eql? 'IDIO' and @estudiante.combinaciones.any?
				.border.p-md-3
					%h5 Combinación de Idiomas:
					- @estudiante.combinaciones.each do |c| 
						%p= c.descripcion

			= render partial: '/admin/estudiantes/historial_academico'

		- if false #@escuela.id.eql? 'IDIO' and !@estudiante.combinaciones.any?
			- @idiomas = escuela.departamentos.reject{|i| i.id.eql? 'EG' or i.id.eql? 'TRA'; }
			= render '/admin/estudiantes/actualizar_idiomas'
	
	.tab-pane#actualPeriodo.border.px-3.border-top-0
		=# render '/admin/horarios/horario_secciones'
		= render '/admin/principal_estudiante/horarios'
	.tab-pane#general.border.px-3.border-top-0
		= render partial: '/admin/usuarios/personales_contacto'



