=# render partial: '/admin/usuarios/datos_modal'
%nav
	.nav.nav-tabs
		= link_to "General", "#general", "data-toggle": :tab, class: 'nav-item nav-link'
		- @estudiante.escuelas.each_with_index do |escuela,i|
			- active = (i.eql? 0) ? 'active' : ''
			= link_to "#{escuela.descripcion.titleize}", "#pane_#{escuela.id}", "data-toggle": :tab, class: "nav-item nav-link #{active}"
		= link_to "Horario (#{current_periodo.id})", "#actualPeriodo", "data-toggle": :tab, class: 'nav-item nav-link'

.tab-content
	- @estudiante.escuelas.each_with_index do |escuela,i| 
		- active = (i.eql? 0) ? 'active show' : ''

		.tab-pane.border.border-top-0.p-3{id: "pane_#{escuela.id}", class: active}
			- # VARIABLES:
			- @grado = @estudiante.grados.where(escuela_id: escuela.id).first
			- @escuela = escuela
			- @inscripciones = @estudiante.inscripcionsecciones.joins(:escuela).where("escuelas.id = :e or pci_escuela_id = :e", e: @escuela.id)
			
			- periodo_ids = @inscripciones.joins(:seccion).group("secciones.periodo_id").count.keys
			- @periodos = Periodo.where(id: periodo_ids).order(inicia: :desc)
			- if current_usuario.eql? @estudiante.usuario and @grado and (!escuela.id.eql? 'POST') and @grado.reportepago.nil? and @grado.preinscrito? and !@grado.inscripciones.any? 
				- @reportable = @grado
				- @reportepago = Reportepago.new
				- content = render partial: "/admin/reportepagos/form"
				= render partial: '/layouts/modal_layout_with_form', locals: {id_modal: "reportarPagoGrado#{@grado.id_flat}", content: content, title: 'Reportar Pago a la Facultad de Ingreso a Escuela', width: "modal-lg"}
				= link_to 'javascript:void(0)', onclick: "$('#reportarPagoGrado#{@grado.id_flat}').modal()", class: 'm-3 btn btn-success' do
					= glyph 'plus'
					= "Reportar Pago Ingreso a #{escuela.descripcion}"
			
			- if escuela.periodo_inscripcion
				- @periodo = escuela.periodo_inscripcion
				- @escupe = escuela.escuelaperiodos.where(periodo_id: @periodo.id).first
				- @limiteCreditos = @escupe.limite_creditos_permitidos
				- @inscripcionperiodo = @estudiante.inscripcionescuelaperiodos.where(escuelaperiodo_id: @escupe.id).first
				- if @inscripcionperiodo.nil? or (@inscripcionperiodo and @inscripcionperiodo.reservado?)
					- if escuela.id.eql? 'IDIO' and @periodo.id.eql? '2019-02A'
						-# inscripciones_del_periodo = @inscripciones.del_periodo(periodo.id)#.inscritos
						- inscripciones_del_periodo = @inscripciones.del_periodo(@periodo.id)#.preinscritos
						- if inscripciones_del_periodo.any?
							- titulo_modal = "Proceso de Confirmación de Inscripción"
							- titulo_btn = "Confirmación Inscripción"
							- msgDanger = "<b>Atención: </b> Marque las asignaturas que desea confirmar"
							- url = '/inscripcionsecciones/confirmar_inscripcion_idiomas201902A'
							- idModal = "ratificarInscripcion#{escuela.id}"
							= render partial: 'admin/inscripcionsecciones/confirmar_inscripcion_form', locals: {inscripciones: inscripciones_del_periodo, url: url, id_modal: idModal, title: titulo_modal, msgDanger: msgDanger, title_btn: titulo_btn}

					- else
						-# periodo_anterior = escuela.periodo_anterior @periodo.id
						- @totalCreditosReservados = @inscripcionperiodo ? @inscripcionperiodo.total_creditos : 0
						- periodo_anterior = escuela.periodo_anterior @periodo.id
						- periodo_anteanterior = escuela.periodo_anterior periodo_anterior.id
						-if (@grado.autorizar_inscripcion_en_periodo_id.eql? @periodo.id) or ((@grado.confirmado? or @grado.reincorporado?) and (!@grado.inscripciones.any? or @grado.inscripciones.del_periodo(periodo_anterior.id).any? or @grado.inscripciones.del_periodo(periodo_anteanterior.id).any? ))
							- asignaturas_ofertadas_x_escuela = escuela.asignaturas.activas(@periodo.id).order(anno: :asc )
							-# aprobadas_id = @inscripciones.aprobadas.joins(:seccion).group('secciones.asignatura_id').count.keys
							- @aprobadas = @inscripciones.aprobadas.joins(:seccion).map{|s| [s.id, s.seccion.asignatura_id]}.uniq.flatten
							-# inscripciones = @inscripciones.del_periodo(current_periodo.id)
							- titulo_modal = "Proceso de Preinscripción #{@periodo.id}"
							- titulo_btn = "Preinscribirse"
							- msgDanger = "Seleccione las asignaturas que desea preinscribir"
							- url = '/inscripcionsecciones/preinscribirse'
							- idModal = "preinscripcion#{escuela.id}"
							= render partial: 'admin/inscripcionsecciones/seleccionar_preinscripcion_form', locals: {asignaturas_ofertadas: asignaturas_ofertadas_x_escuela, url: url, id_modal: idModal, title: titulo_modal, msgDanger: msgDanger, title_btn: titulo_btn}
							- if @inscripcionperiodo and @inscripcionperiodo.reservado?
								:javascript
									$(`##{idModal}`).modal();

						- else
							.alert.alert-warning
								%b Atención: 
								Verifique alguna de las siguientes opciones con el personal administrativo para habilitar su inscripción:
								= "El estudiante aún no  esta confirmado o reincorporado en #{escuela.descripcion.titleize}"
								= "El estudiante no debe tener registros académicos previos (Nuevos Ingresos) o debe haber inscrito asignaturas en el período inmediatemente anterior #{periodo_anterior.id} (Regulares)."
				- else
					- if @inscripcionperiodo.reportepago.nil? and @periodo.es_mayor_al_anno? 2020
						.alert.alert-warning
							%h6
								%b Atención: 
								Aún no reporta el pago de su inscripción. Recuerde que es un paso indispensable para completar su preinscripción. Haga clic 
								= link_to 'aquí', new_reportepago_path(reportable_id: @inscripcionperiodo.id, reportable_type: @inscripcionperiodo.class.name)
								para reportar el pago
						= link_to new_reportepago_path(reportable_id: @inscripcionperiodo.id, reportable_type: @inscripcionperiodo.class.name), class: 'btn btn-block btn-lg btn-success tooltip-btn mb-2' do
							= glyph 'chevron-right'
							= "Reportar pago de inscripción el periodo #{@periodo.id}"



			-if @estudiante.citahoraria
				.border.p-md-3
					%h5 Cita Horaria:
					%p
						%b Fecha:
						=#(I18n.localize(Time.now, :format => "%A, %d de %B de %Y - Hora: %I:%M "))#.capitalize()
						=(I18n.localize(@estudiante.citahoraria.fecha, :format => "%A, %d de %B de %Y")).capitalize()
						= "-"
						%b Hora:
						=(I18n.localize(@estudiante.citahoraria.fecha, :format => "%I:%M %p")).capitalize()
						=# @estudiante.cita_horaria.hora

			- if @estudiante.planes.count > 0
				.border.p-md-3
					%h5 Planes:
					- @estudiante.historialplanes.por_escuela(escuela.id).order('periodo_id DESC').each do |pl| 
						%p= pl.descripcion
			- if @escuela.id.eql? 'IDIO' and @estudiante.combinaciones.any?
				.border.p-md-3
					%h5 Combinación de Idiomas:
					- @estudiante.combinaciones.each do |c| 
						%p= c.descripcion

			= render partial: '/admin/estudiantes/historial_academico'

		- if false #@escuela.id.eql? 'IDIO' and !@estudiante.combinaciones.any?
			- @idiomas = escuela.departamentos.reject{|i| i.id.eql? 'EG' or i.id.eql? 'TRA'; }
			= render '/admin/estudiantes/actualizar_idiomas'
	
	.tab-pane#actualPeriodo.border.px-3.border-top-0
		=# render '/admin/horarios/horario_secciones'
		= render '/admin/principal_estudiante/horarios'
	.tab-pane#general.border.px-3.border-top-0
		= render partial: '/admin/usuarios/personales_contacto'



