= form_for @reportepago, multipart: true, 'data-remote': true do |f|
  - if @reportepago.errors.any?
    .alert.alert-danger
      %h2= "#{pluralize(@reportepago.errors.count, "error")} prohibited this reportepago from being saved:"
      %ul
        - @reportepago.errors.full_messages.each do |message|
          %li= message
  .border.p-3.mb-3
    .datos

      = hidden_field_tag 'reportable[id]', @reportable.id if @reportable
      = hidden_field_tag 'reportable[type]', @reportable.class.name if @reportable

      =# hidden_field_tag :inscripcionescuelaperiodo_id, @inscripcionescuelaperiodo_id if @inscripcionescuelaperiodo_id
      =# hidden_field_tag :grado_id, @grado_id if @grado_id
      .form-group.row
        .col-md-2{style: 'text-align: right;'}= f.label :numero, nil, value: 'Número de Transacción'
        .col-md-10= f.text_field :numero, class: 'form-control onlyNumber', placeholder: 'Número Transacción', required: true
      .form-group.row
        .col-md-2{style: 'text-align: right;'}= f.label :monto, nil, value: 'Monto'
        
        .col-md-10
          .input-group
            = f.number_field :monto, class: 'form-control', placeholder: 'Monto', required: true, decimal: true, step: '0.01'
            .input-group-append
              .input-group-text Bs.

      .form-group.row
        .col-md-2{style: 'text-align: right;'}= f.label :banco_origen, nil, value: 'Banco Origen'
        .col-md-10
          = f.select(:banco_origen_id, Banco.all.collect{|o| [ o.nombre, o.id] }, { include_blank: 'Seleccione Banco Origen...'}, {class: "form-control", required: true})
      .form-group.row
        .col-md-2{style: 'text-align: right;'}= f.label :tipo_transaccion, nil, value: 'Tipo de Transacción'
        .col-md-10
          .form-control
            = f.radio_button :tipo_transaccion, :transferencia, required: true
            Transferencia
            = f.radio_button :tipo_transaccion, :deposito, required: true
            Depósito
      .form-group.row
        .col-md-2{style: 'text-align: right;'}= f.label :fecha_transaccion, nil, value: 'Fecha de Transacción'

        .col-md-10= f.date_field :fecha_transaccion, required: true, placeholder: 'Fecha', class: 'form-control', required: true
    %hr
    .respaldoImagen
      .alert.alert-warning.text-justify
        - if current_estudiante and current_estudiante.grados.where(escuela_id: 'POST').any?
          - correo_ayuda = 'algaramirlay@gmail.com'
        - else
          - correo_ayuda = 'controlestfheucv@gmail.com'
        %b IMPORTANTE: 
        = "Debido a los inconvenientes de conectividad en el país, recomendamos encarecidamente subir archivos de baja resolución (menores a 1 MegaByte), de ser posible capturas de pantalla. Si al intentar subir el archivo adjunto el sistema genera un error o tarda más de 3 minutos en responder, puede intentar nuevamente el proceso con un archivo más liviano o enviarlo al correo electrónico #{link_to correo_ayuda} para brindarle el apoyo con su reporte.".html_safe

      .form-group.row
        .col-md-2{style: 'text-align: right;'}= f.label :respaldo, nil, value: 'Imagen de respaldo'

        .col-md-10
          - displayField = ''
          - disabled = false
          - if @reportepago.respaldo and @reportepago.respaldo.attached?
            = image_tag main_app.url_for(@reportepago.respaldo), class: 'imagen-perfil', alt: @reportepago.respaldo.blob.filename
            %b= @reportepago.respaldo.blob.filename
            = link_to 'javascript:void(0)', class: 'text-primary', onclick: "setRespaldo(true);", id: 'pencil' do
              = glyph 'pencil'
            = link_to 'javascript:void(0)', class: 'text-danger d-none', onclick: "setRespaldo(false);", id: 'minus' do
              = glyph 'minus'

            - disabled = true
            - displayField =  'd-none'
          = f.file_field :respaldo, {class: "btn btn-sm btn-secondary form-control form-control-file #{displayField}", accept: "image/*", size: "1", id: 'fileUpload', required: !disabled, readonly: disabled, disabled: disabled}
          #msgFile.d-none.text-muted= "<b>Atención:</b> Solo se perimiten imágenes. Sí su soporte se encuentra en formato PDF, por favor haga una captura de la pantalla y luego suba la imagen correspondiente.".html_safe

    %br
    %br
    %br
    .form-group.row
      .col-md-2{style: 'text-align: right;'}
        -if current_admin
          - return_to = (@reportepago.objeto and @reportepago.objeto.estudiante) ? usuario_path(@reportepago.objeto.estudiante.usuario) : periodos_path
        - else
          - return_to = principal_estudiante_index_path
      
        = btn_atras return_to
      .col-md-10
        = button_tag 'reportepago[commit]', type: :submit, class: 'btn btn-sm btn-success', id: 'submitReportePago' do
          = glyph 'chevron-right'
          Guargar Reporte
 
:javascript

  function setRespaldo(value){
    let fileUpload = $('#fileUpload');
    fileUpload.toggleClass('d-none');
    $('#msgFile').toggleClass('d-none');
    fileUpload.prop('disabled', !value);
    fileUpload.prop('readonly', !value);
    fileUpload.prop('required', value);
    if (value == true) {
      $('#minus').removeClass('d-none');
      $('#pencil').addClass('d-none');
    }else{
      $('#minus').addClass('d-none');
      $('#pencil').removeClass('d-none');
    }
  }


  $('.onlyNumber').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().replace(/[^0-9]/g,'') );
    }); 
