

%table#dataTable.table.table-sm
	= text_field_tag nil, nil, {id: :max, class: 'float-right form-control-sm ml-3', placeholder: 'Hasta', onfocus: "(this.type='date')"}
	= text_field_tag nil, nil, {id: :min, class: 'float-right form-control-sm ml-1', placeholder: 'Desde', onfocus: "(this.type='date')"}
	.float-right.ml-3.pt-2 Fecha:
	%thead
		%tr
			%th
				- if params[:status].eql? 'reported' 
					Fecha Reporte
				- else
					Fecha Preins

			%th Cédula
			%th Email
			%th Apellidos
			%th Nombres
			%th Escuelas
			- if params[:status].eql? 'reported'
				%th Reporte
			%th Plan
			%th Asig. Inscritas
			%th Créditos
			%th C. Aprobados
			%th Total Créditos Plan

	%tbody

		- @inscripciones.each do |ins|
			%tr
				- usuario = ins.estudiante.usuario
				- if params[:status].eql? 'reported' and ins.reportepago
					- obj = ins.reportepago
				- else
					- obj = ins
				
				%td= I18n.l(obj.created_at, format: "%d/%m/%Y")

				%td= link_to ins.estudiante_id, usuario_path(usuario.id)
				%td= usuario.email
				%td= usuario.apellidos
				%td= usuario.nombres
				%td= ins.estudiante.escuelas.descripcion.to_sentence
				- if params[:status].eql? 'reported' and ins.reportepago
					%td= ins.reportepago.numero
				- plan = ins.grado.plan if ins.grado
				- if plan.nil?
					- hplan = ins.estudiante.historialplanes.joins(:plan).where("planes.escuela_id = ?", @escuelaperiodo.escuela_id).order('periodo_id DESC').first#.plan_id
					- plan = hplan.plan if plan
					- plan ? hplan.plan_id : "--"
				-# hplan = est.ultimo_plan_de_escuela(@escuelaperiodo.escuela_id)
				%td= plan ? plan.id : "--"
				%td
					=# ins.inscripcionsecciones.map{|ins| ins.asignatura.descripcion}
					= ins.inscripcionsecciones.count
				%td= ins.inscripcionsecciones.total_creditos
				%td= ins.inscripcionsecciones.aprobado.total_creditos
				%td= plan.creditos if plan


:javascript

	var minDate, maxDate;

	// Custom filtering function which will search data in column four between two values
	$.fn.dataTable.ext.search.push(
		function( settings, data, dataIndex ) {
			var min = minDate;
			var max = maxDate;
			var aux = data[0].split("/");

			var date = new Date(aux[2], aux[1]-1, aux[0], 4);

			if (
			( min === null && max === null ) ||
			( min === null && date <= max ) ||
			( min <= date   && max === null ) ||
			( min <= date   && date <= max )
			) {
				return true;
			}
				return false;
		}
	);


	$(document).ready(function() {

		minDate = null;
		maxDate = null;

		let tableData =  $('#dataTable').DataTable({
			scrollY: 460,
			pageLength: 50,
			// lengthChange: false,
			paging: false,
			dom: '<"html5buttons"B>lTfgitp',
			buttons: [
				{extend: 'excel', text: "<span class='glyphicon glyphicon-download'></span> Excel", title: `Inscripciones-#{current_periodo.id}-#{@escuelaperiodo.escuela_id}`, className: 'btn btn-sm btn-outline-info'},
				{extend: 'pdf', text: "<span class='glyphicon glyphicon-download'></span> PDF", title: `PDF-Inscripciones-#{current_periodo.id}-#{@escuelaperiodo.escuela_id}`, className: 'btn btn-sm btn-outline-info'} 
			],
			language: 
				{
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
				"sFirst":    "Primero",
				"sLast":     "Último",
				"sNext":     "Siguiente",
				"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			}
		});

		$('#min, #max').on('change', function () {

			let aux = $('#min').val();
			if (aux != ""){
				aux = aux.split('-');
				minDate = new Date(aux[0], aux[1]-1, aux[2], 4);
			}
			aux = $('#max').val();
			if (aux != ""){
				aux = aux.split('-');
				maxDate = new Date(aux[0], aux[1]-1, aux[2], 4);
			}

			tableData.draw();

		});

	});