%table.table.table-striped.table-sm.table-hover.table-bordered.responsive-table.tableDataMia
  %thead
    %tr
      %th Franja Horaria
      %th Escuela
      %th.text-center.align-middle Estado Insc
      %th.text-center.align-middle Reglamento
      %th Cédula
      %th Nombre y Apellido
      %th Eficiencia
      %th Promedio
      %th Ponderado
  %tbody
    - anterior_cita = nil
    - grados.each do |grado, i|
      %tr
        %td
          - if grado.citahoraria and grado.duracion_franja_horaria
            = I18n.l(grado.citahoraria, format: 'De %I:%M%p ')
            = I18n.l(grado.citahoraria+grado.duracion_franja_horaria.minutes, format: 'a %I:%M%p')
        %td= grado.escuela.descripcion
        %td.text-center.align-middle 
          - if iep = grado.inscripcionescuelaperiodos.de_la_escuela_y_periodo(@escuelaperiodo.id).first
            = iep.label_estado_inscripcion
        %td.text-center.align-middle= grado.reglamento.humanize
        %td= grado.estudiante_id
        %td= link_to grado.estudiante.usuario.nombre_completo, usuario_path(grado.estudiante), target: '_black'
        %td= grado.eficiencia
        %td= grado.promedio_simple
        %td= grado.promedio_ponderado
      - anterior_cita = @cita_horaria
