.border.p-1
  %h6.titulo.text-center Información de Ingreso a la Escuela
  %table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
    %tbody
      - if grado.reportepago
        %tr
          %th Reporte Pago: 
          %td= grado.reportepago.descripcion
          %td
            = link_to "#{reportepago_path(grado.reportepago)}?back=#{usuario_path(@estudiante.id)}" do
              = glyph 'search'

      %tr
        %th
          Autorizar Inscripción Especial en Periodo: 
        %td= grado.autorizar_inscripcion_en_periodo_decrip_badge
        - if current_admin and (current_admin.autorizado?('Grados', 'cambiar_inscripcion'))
          %td
            .tooltip-btn{'data_toggle': :tooltip, title: 'Periodo de Inscripción Especial Autorizado'}
              = link_to('javascript:void(0)', { class: 'text-success m-1', 'data_toggle': :modal, id: 'autorizar_inscripcion_en_periodo_id', class: 'update_grado_btn' }) do
                = glyph :pencil

      %tr
        %th Periodo de Ingreso: 
        %td= grado.iniciado_periodo_id
        - if current_admin and (current_admin.autorizado?('Grados', 'cambiar_inscripcion'))
          %td
            .tooltip-btn{'data_toggle': :tooltip, title: 'Período de Ingreso'}
              = link_to('javascript:void(0)', { class: 'text-success m-1', 'data_toggle': :modal, id: 'iniciado_periodo_id', class: 'update_grado_btn' }) do
                = glyph :pencil

      %tr
        %th Estado del Ingreso: 
        %td
          .badge.badge-info= grado.estado_inscripcion.upcase
        - if current_admin and (current_admin.autorizado?('Grados', 'cambiar_inscripcion'))
          %td
            .tooltip-btn{'data_toggle': :tooltip, title: 'Estado del Ingreso'}
              = link_to('javascript:void(0)', { class: 'text-success m-1', 'data_toggle': :modal, id: 'estado_inscripcion', class: 'update_grado_btn' }) do
                = glyph :pencil
      %tr
        %th Tipo de Ingreso:
        %td
          .badge.badge-info= grado.tipo_ingreso
        - if current_admin and (current_admin.autorizado?('Grados', 'cambiar_inscripcion'))
          %td
            .tooltip-btn{'data_toggle': :tooltip, title: 'Tipo de Ingreso'}
              = link_to('javascript:void(0)', { class: 'text-success m-1', 'data_toggle': :modal, id: 'tipo_ingreso', class: 'update_grado_btn' }) do
                = glyph :pencil
      %tr
        %th Región:
        %td= grado.region.titleize
        - if current_admin and (current_admin.autorizado?('Grados', 'cambiar_inscripcion'))
          %td
            .tooltip-btn{'data_toggle': :tooltip, title: 'Región'}
              = link_to('javascript:void(0)', { class: 'text-success m-1', 'data_toggle': :modal, id: 'region', class: 'update_grado_btn' }) do
                = glyph :pencil

      %tr
        %th Inscrito en la UCV:
        %td
          - if grado.inscrito_ucv
            .badge.badge-success Sí
          - else
            .badge.badge-danger No
        - if current_admin and (current_admin.autorizado?('Grados', 'cambiar_inscripcion'))
          %td
            = link_to "#{grado_path(grado)}?[grado]inscrito_ucv=#{!grado.inscrito_ucv}", method: 'put'  do
              = glyph 'pencil'

%br
- if current_admin and (current_admin.autorizado?('Grados', 'cambiar_inscripcion'))
  - content = render partial: '/admin/grados/form_grado'
  - title = 'Actualizar Inscripción'
  = render partial: '/layouts/modal_layout_with_form', locals: {id_modal: "actualizarInscripcion#{grado.id}", title: title, content: content, width: nil}

  - if grado.reportepago
    = # Agregar model para el detalle de pago: Puede der un partial del show 
    - if false
      - content = render file: "/admin/reportepagos/show?id=#{grado.reportepago.id}"
      = render partial: '/layouts/modal_layout_with_form', locals: {url: url, id_modal: "cambiarPeriodoInscripcion#{grado.id}", title: 'Ver detalle de pago Escuela', content: content, width: nil}

:javascript
  $(document).on('turbolinks:load', function(){
    $('.update_grado_btn').on('click', function() {

      let grado_field = $(`#edit_grado_#{grado.id} .field_grado`)
      grado_field.hide();
      grado_field.prop('required', false);
      grado_field.prop('disabled', true);
      let elem = $(this);
      let tooltip = $(elem.parent()[0]).prop('dataset').originalTitle
        
      let franja_horaria_label = $(`#edit_grado_#{grado.id} #duracion_franja_horaria_label`);

      franja_horaria_label.hide();
      $("#actualizarInscripcion#{grado.id}Title").text('Actualizar ' + tooltip);

      let field = $(`#edit_grado_#{grado.id} #grado_${elem.prop('id')}`);
      if (elem.prop('id') != 'autorizar_inscripcion_en_periodo_id') field.prop('required', true);
      if (elem.prop('id') == 'citahoraria'){
        let franja_horaria_field = $(`#edit_grado_#{grado.id} #grado_duracion_franja_horaria`);
        franja_horaria_field.prop('disabled', false);
        franja_horaria_field.prop('required', true);
        franja_horaria_field.show();
        franja_horaria_label.show();
      }

      field.prop('disabled', false);
      if (field.prop('type') == 'radio') field.parent().show();
      field.show();

      return $(`#actualizarInscripcion#{grado.id}`).modal({show: true, backdrop: 'static'});
    });
  })   



