- if current_admin and (current_admin.autorizado? 'Descargar', 'constancia_preinscripcion_facultad') or (ParametroGeneral.permitir_descargar_constancia_pre? and @grado and @grado.escuela and @grado.escuela.periodo_activo.eql? @grado.periodo_ingreso)

	.float-right.ml-2
		= btn_success 'download-alt', constancia_preinscripcion_facultad_descargar_path(@grado.id, format: :pdf), "Constancia de Preinscripci贸n de #{@nickname}", 'C. Preinscripci贸n'
- if @grado.inscripciones.any?
	.float-right
		= btn_success 'download-alt', "#{kardex_descargar_path(@grado.id)}", "Descargar Kardex de #{@nickname}", 'Kardex'
		- if current_admin
			= btn_success 'download-alt', exportar_historial_grado_descargar_path(@grado.id), "Descargar registro academico en scv (Excel)", 'Record Excel'
			- if @inscripcionperiodo
				- if (current_admin.autorizado? 'Descargar', 'constancia_estudio')
					= btn_success 'download-alt', "#{constancia_estudio_descargar_path(@inscripcionperiodo.id, :pdf)}", "Constancia de Estudio de #{@nickname}", 'C. Estudio'
				- if (current_admin.autorizado? 'Descargar', 'constancia_inscripcion')
					= btn_success 'download-alt', "#{constancia_inscripcion_descargar_path(@inscripcionperiodo.id, :pdf)}", "Constancia de Inscripci贸n en #{@inscripcionperiodo.periodo.id}", 'C. Inscripci贸n'
