- if current_admin and current_admin.maestros?
	.float-right.ml-2
		= btn_success 'download-alt', constancia_preinscripcion_facultad_descargar_path(@grado.id_flat, format: :pdf), "Constancia de Preinscripción de #{@nickname}", 'Constancia Preinscripción'
- if @grado.inscripciones.any?
	.float-right
		= btn_success 'download-alt', "#{kardex_descargar_path(@grado.id.join("-"))}", "Descargar Kardex de #{@nickname}", 'Kardex'
		- if current_admin
			= btn_success 'download-alt', exportar_historial_grado_descargar_path(@grado.id.join('-')), "Descargar registro academico en scv (Excel)", 'Record Académico en Excel'
		- if false 
			= btn_success 'download-alt', "#{constancia_estudio_descargar_path(@inscripcionperiodo.id, :pdf)}", "Constancia de Estudio de #{@nickname}", 'Constancia Estudio'