- if current_admin and current_admin.maestros?
	.float-right.ml-2
		= btn_success 'download-alt', constancia_preinscripcion_facultad_descargar_path(@grado.id, format: :pdf), "Constancia de Preinscripci贸n de #{@nickname}", 'C. Preinscripci贸n'
- if @grado.inscripciones.any?
	.float-right
		= btn_success 'download-alt', "#{kardex_descargar_path(@grado.id)}", "Descargar Kardex de #{@nickname}", 'Kardex'
		- if current_admin
			= btn_success 'download-alt', exportar_historial_grado_descargar_path(@grado.id), "Descargar registro academico en scv (Excel)", 'Record Excel'
			- if current_admin.maestros?
				= btn_success 'download-alt', "#{constancia_estudio_descargar_path(@inscripcionperiodo.id, :pdf)}", "Constancia de Estudio de #{@nickname}", 'C. Estudio'
				= btn_success 'download-alt', "#{constancia_inscripcion_descargar_path(@inscripcionperiodo.id, :pdf)}", "Constancia de Inscripci贸n en #{@inscripcionperiodo.periodo.id}", 'C. Inscripci贸n'

				