- link_coes = link_to 'COESFHE.COM', 'https://coesfhe.com/'

%p= "Estimad#{@genero}: <b>#{@nombre}</b>, la Facultad de Humanidades y Educación le da la bienvenida al sistema de Control de Estudios COES-FHE.".html_safe


%p="Para realizar el Proceso de Preinscripción por Facultad en la Escuela de #{@escuela.descripcion.upcase}, debe ingresar a: #{link_coes} y colocar su número de cédula en ambos campos (Usuario y Contraseña) para dar inicio de sesión y actualizar sus datos. Su número de cédula siempre será su usuario y deberá colocar una nueva contraseña para que el lo sucesivo pueda ingresar al Sistema. Debe cargar una foto de frente con el fondo blanco en formato imagen (jpg ó png) y una foto de su cédula de identidad; así mismo deberá completar los demás campos con la información que se pide en el Sistema. Una vez que culmine debe presionar el botón de guardar. Posterior mente el sistema le pedirá realizar el reporte de pago por el arancel de preinscripción de #{ParametroGeneral.arancel_ingreso_facultad_valor} y deberá cargar una foto del depósito o transferencia bancaria en formato imagen. Finalmente, el Sistema le permitirá imprimir su constancia de preinscripción.".html_safe
