- link_coes = link_to 'COESFHE.COM', 'https://coesfhe.com/'
%h3= @escuela_nombre
%h3= "PROCESO DE INSCRIPCIONES #{@periodo_id}"

= "Estimad#{@genero}: <b>#{@nombre}</b>, le informamos que para realizar su inscripción en el período <b>#{@periodo_id}</b>, deberá ingresar al sistema #{link_coes}, el día: #{@cita_horaria} de #{@desde} a #{@hasta}., de no realizar la inscripción en la fecha y hora indicada deberá realizar su inscripción en la fecha de rezagados. ".html_safe
