- link_coes = link_to 'COESFHE.COM', 'https://coesfhe.com/'

= "Estimad#{@genero}: <b>#{@nombre}</b>,".html_safe
	
%p= "Su inscripción en #{@escuela_desc} para el período #{@periodo_id} ha sido validada para las siguientes asignaturas:".html_safe

%ol
	- @asignaturas.each do |asig| 
		%li= asig.descripcion_id

%p Favor estar atento a la fecha de inicio de las clases.
 
%p Saludos cordiales.

UCV La casa que vence la sombra
COES-FHE - UCV
IMPORTANTE: No dude en contactarnos por controlestfheucv@gmail.com si requiere de algún tipo de apoyo.