
- @url = "#{get_bloques_horario_path(@seccion.id.to_param)}?profesor=true"
-# @url += '&edit=true' if action_name.eql? 'edit'

%h4.titulo.text-center= @seccion.descripcion_escuela 
.border.p-3
  .text-center
    %h5.alert.alert-warning
      %b Atención:
      Seleccione el o los bloques de horario más conveniente para la sección. Adicionalmente puede asociar el profesor correspondiente a dicho bloque. Los bloques de horarios ya ocupados son de caracter informativo.

  = form_for @horario, html: { class: 'form-horizontal', id: 'formHorarios' } do |f|
    #bloquesHorarios
    = f.hidden_field :seccion_id
    .form-group
      .col-md-offset-2.col-md-10
        = btn_atras asignatura_path(@seccion.asignatura.id)
        = f.submit 'Guardar', class: 'btn btn-primary btn-sm ml-3'
      =# f.submit 'Guardar e ir a la siquiente sección', class: 'btn btn-primary'



:javascript

  $(document).ready(function(){
    $.ajax({
      url: `#{@url}`,
      type: 'GET',
      dataType: 'json', 
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      success: function (data_origen) {
        // console.log(data_origen);
        $("#bloquesHorarios").jqs({
          periodOptions: false,

          data: data_origen.bloques,
          dataEditable: data_origen.bloquesEditables,

          onAddPeriod: function(e){
            let profes, virtual, elem;
            elem = e.find('.jqs-period-container');
            
            virtual = `#{select_tag 'bloquehorarios[modalidad][]', options_for_select(Bloquehorario.modalidades.keys{|mo| mo.titleize }) , class: ' form-control form-control-sm'}`

            if(`#{@profesores.any?}` == 'true'){
              profes = `#{collection_select nil, 'bloquehorarios[profesores][]', @profesores, :id, :descripcion, {selected: ((@profesores.count.eql?(1)) ? @profesores.first.id : ''), include_blank: 'Ningún Profesor'}, { class: ' form-control form-control-sm'}}`

            }else{
              profes = `<b> Sin profesor asignado a la sección </b>`
            }
            elem.append(profes);
            elem.append(virtual);

          }


        });
      }
    });
  })


  $('#formHorarios').submit(function() {
    $('.jqs-period-time').each(function(){
      let e = $(this)[0]
      let dia = e.closest('td').cellIndex;
      let horas = e.innerText;

      $('<input>').attr({
        name: 'bloquehorarios[dias][]',
        value: dia,
        type: 'hidden',
      }).appendTo('#formHorarios');

      $('<input>').attr({
        name: 'bloquehorarios[horas][]',
        value: horas,
        type: 'hidden',
      }).appendTo('#formHorarios');

    })
  });

  function getValue(e){
    let day = e.closest('td').cellIndex;
    let hours = e.innerText;
    return `${day}/${hours}`
  }

  function setValue(value){
    $('<input>').attr({
        id: 'bloques_ids_',
        name: 'bloques_ids[]',
        value: value
    }).appendTo('#formHorarios');
  }
