-# if current_admin 
-# if controller_name.eql? 'inscripcionsecciones'
-# @url = "#{get_bloques_horario_path(@estudiante.id)}?estudiante=true"
- if @asignatura and controller_name.eql? 'asignaturas'
  %h6.titulo.m-2= "Horarios de las secciones de Asignatura:"
  - @url = "#{get_bloques_horario_path(@asignatura.id)}?asignatura=true"
- elsif @grado
  - @url = "#{get_bloques_horario_path(@grado.id)}?grado=true"
- elsif @seccion
  - @url = "#{get_bloques_horario_path(@seccion.id)}"
- elsif @estudiante and @profesor.nil?#(controller_name.eql? 'inscripcionsecciones' or controller_name.eql? 'principal_estudiante') 
  - @url = "#{get_bloques_horario_path(@estudiante.id)}?estudiante=true"
- elsif @profesor
  - if controller_name.eql? 'horarios'
    - @url = "#{get_bloques_horario_path(@profesor.id)}?profesor=true"
  - else
    - @url = "#{get_bloques_horario_path(@profesor.id)}?usuario=true"

- maxHeight = controller_name.eql? 'inscripcionsecciones' ? 320 : 600

.p-1{style: "max-height: #{maxHeight}px;overflow: scroll;"}

  #bloquesHorarios

:javascript
  $(document).ready(function(){
    $.ajax({
      url: `#{@url}`,
      type: 'GET',
      dataType: 'json', 
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      success: function (data) {
        // console.log(data.bloques);
        $("#bloquesHorarios").jqs({
          mode: "read",
          daysList: ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'],
          hour: 12,
          days: 5,
          periodDuration: 15,
          periodOptions: false,

          data: data.bloques,
          dataEditable: data.bloquesEditables
        });
      }
    });
  })

  function limpiarHorarioASignatura(asignatura_id){
    $('.jqs-period, .jqs-period-info').each(function(){
      let valor = this.innerText
      if (valor.includes(asignatura_id)) this.remove();
    })
  }

  function addHorario(seccion_id, asignatura_id){
    limpiarHorarioASignatura(asignatura_id);
    if (seccion_id != ''){
      $.ajax({
        url: `/secciones/${seccion_id}/get_bloquehorario`,
        type: 'GET',
        dataType: 'json', 
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        success: function (data) {
          $("#bloquesHorarios").jqs('import', JSON.parse(data.bloques));
        }
      });
    }
  }
