- width = current_admin ? 'navbarWidth' : ''
%nav#navbar.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top{class: width}
  - if current_admin
    = link_to '', class: 'btn btn-primary btn-sm mr-2', id: 'menu-toggle' do
      = glyph 'chevron-left'
      .navbar-toggler-icon
  
  %button.navbar-toggler{"aria-controls": "navbarSupportedContent", "aria-expanded": false, "aria-label": "Toggle navigation", "data-target": "#navbarSupportedContent", "data-toggle": "collapse", type: :button}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    - if current_admin
      = form_tag(usuarios_path,{class: 'form-inline my-2 my-lg-0', role: :search, method: :get} ) do
        = text_field_tag :search, params[:search],{class: 'form-control mr-sm-2 form-control-sm', required: true, "aria-label" => "Search", placeholder: "Buscar Usuario", type: "search"}
        %button.btn.btn-outline-success.btn-sm.m-0{:type => "submit"} Buscar
    %ul.navbar-nav.mr-auto
    %ul.navbar-nav
      %li
        %b.nav-item.text-light.nav-link.text-nowrap
          = raw (@titulo ? @titulo : action_name.titleize)
      %li.nav-item
        - if current_admin
          = link_to "Periodo: #{current_periodo.id}", 'javascript:void(0)', {onclick: "return $('#cambiar_sesion_periodo').modal();", 'data_toggle': :modal, class: 'text-info nav-link font-weight-bold'}
        - else
          %b.text-info.nav-link
            = "Periodo: #{current_periodo.id}"
      = render 'layouts/nav_session_options' 

= render 'admin/principal_admin/cambiar_sesion_periodo' if current_admin