- if new_button
  .float-right.mb-4
    = btn_add_success new_url, "Agregar Nuevo #{objeto}", 'Nuevo'
%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3{id: tabla_id}
  %thead
    %tr
      - heads.each do |name| 
        %th= name
     
:javascript

  $(document).ready(function() {

    let tableData =  $(`##{tabla_id}`).DataTable({
      scrollX: true,
      scrollY: 400,
      ajax: {
        "processing": true,
        url: `#{url}`
      },
      //order: [[ 0, "desc" ]],
      paging: false,
      dom: '<"html5buttons"B>lTfgitp',
      buttons: [
        {extend: 'excel', text: "<span class='glyphicon glyphicon-download'></span> Excel", title: `#{tabla_id}`, className: 'btn btn-sm btn-outline-info'},
        {extend: 'pdf', text: "<span class='glyphicon glyphicon-download'></span> PDF", title: `PDF-#{tabla_id}`, className: 'btn btn-sm btn-outline-info'},
        {extend: 'print', 
          text: "<span class='glyphicon glyphicon-download'></span> Imprimir", title: `Lista Profesores de la Escuela #{@escuela.descripcion.titleize}`, className: 'btn btn-sm btn-outline-info mr-3',
          customize: function (win){
            $(win.document.body).addClass('white-bg');
            $(win.document.body).css('font-size', '10px');

            $(win.document.body).find('table')
              .addClass('compact')
              .css('font-size', 'inherit');
          }
        }        
      ],

      language: 
        {
        "sProcessing":     "Procesando...",
        "sLengthMenu":     "Mostrar _MENU_ registros",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
        "sFirst":    "Primero",
        "sLast":     "Último",
        "sNext":     "Siguiente",
        "sPrevious": "Anterior"
        },
        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      }

    });
  });