!!!
%html
  %head
    %title COES - Facultad de Humanidades y Educación
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => 'viewport', :content =>  "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Coes-FHE-UCV'}"}

    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    =# favicon_link_tag 'logo.ico'
    =# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =# javascript_include_tag 'application', 'data-turbolinks-track' => true

    =# stylesheet_link_tag 'application', href: "http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css", media: 'all', 'data-turbolinks-track' => 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'


    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'#, async: true
    =# javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js'
    = csrf_meta_tags
    = favicon_link_tag 'logo.ico'
    = render 'layouts/nojavascript'

  %body
    - if current_admin
      #wrapper
        = render 'layouts/sidebar'
        
        / Page Content
        #page-content-wrapper.toggled
          = render 'layouts/navigation'
          - if Rails.root.to_s.include? 'coes_dev'
            %nav.navbar.navbar-expand-lg.navbar-dark.bg-danger.justify-content-center
              %h5 AMBIENTE DE PRUEBAS
          = render 'layouts/noticias' 
          .container-fluid.pt-5
            =# render 'layouts/titulo'
            %br
            = render 'layouts/messages'
            = yield
            = render 'layouts/cargando'

      / Menu Toggle Script
      :javascript
        $('#importSubMenuLink, #importSubMenu').hover(function(){
          $('#importSubMenu').toggleClass("d-none");
        })
        $('#reportSubMenuLink, #reportSubMenu').hover(function(){
          $('#reportSubMenu').toggleClass("d-none");
        })

        $('#asigSubMenuLink, #asigSubMenu').hover(function(){
          $('#asigSubMenu').toggleClass("d-none");
        })

        $('#usuarioSubMenuLink, #usuarioSubMenu').hover(function(){
          $('#usuarioSubMenu').toggleClass("d-none");
        })


        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $('#navbar').toggleClass("navbarWidth")
          $('#page-content-wrapper').toggleClass("toggled");
          $("#wrapper").toggleClass("toggled");
          let ele = $(this).children('span')
          ele.toggleClass('glyphicon-chevron-left')
          ele.toggleClass('glyphicon-chevron-right')
          //ele.css('transform',"rotate('180deg')");
        });

    - else

      %header
        -# @noticias = Comentario.recientes.privados
        = render 'layouts/noticias' 
        = render 'layouts/navigation'

      %main{:role => "main"}
        - if Rails.root.to_s.include? 'coes_dev'
          %nav.navbar.navbar-expand-lg.navbar-dark.bg-danger.justify-content-center
            %h5 AMBIENTE DE PRUEBAS
        = render 'layouts/messages'
        = yield
      %br
      %br
      %br
      %br
      = render 'layouts/cargando'    

